*{
    box-sizing: border-box;
    outline: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background: rgb(40, 108, 148);
}

.container{
    max-width: 640px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;

}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 2px;
}

form input:focus{
    outline: 1px solid rgb(40, 108, 148)  ;
}

form button{
    border: none;
    background-color: #286c94;
    color: #fff;
    font-weight: 700px;
    display: block;
    margin: auto;
    cursor: pointer;
    width: 30%;
    padding: 10px;
    border-radius: 20px;
}

form button:hover{
    background-color: #fff;
    color: rgb(40, 108, 148);
    border: 1px solid rgb(40, 108, 148);
}